@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.index-intro {
  margin: 50px auto;
}

.intro-container {
  margin: auto;
}

.intro-heading {
  font-size: 52px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 17px 0;
  margin: 20px auto;
  max-width: 620px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

.intro-heading:before {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #89c853;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.intro-heading:after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #89c853;
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.intro-image {
  max-height: 560px;
}

.intro-image-container {
  text-align: right;
}

.vision-heading {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 17px 0;
  margin: 70px auto -15px;
  max-width: 620px;
}

.vision-heading:before {
  content: "";
  width: 100px;
  height: 6px;
  background-color: #fcbb53;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.offer-section {
  margin: 60px auto 40px;
}

.offer-heading {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 17px 0;
  margin: 70px auto 15px;
  max-width: 620px;
}

.offer-heading:before {
  content: "";
  width: 100px;
  height: 6px;
  background-color: #fcbb53;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.offer-text {
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
}

@media (max-width: 580px) {
  .offer-text {
    margin-left: 10px;
  }
  .service-list {
    padding-top: 80px;
  }
}

.services {
  margin-top: 96px;
  margin-bottom: 45px;
}

.service-list {
  margin: auto;
}

.about-heading {
  font-size: 52px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 17px 0;
  margin: 20px auto;
  max-width: 620px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

.about-heading:before {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #89c853;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.about-heading:after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #89c853;
  position: absolute;
  bottom: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.about-page-start {
  margin-top: 28px;
  margin-bottom: 48px;
}

.mission-text {
  margin: auto 2px;
  font-size: 1.2em;
}
.about-heading {
  margin-bottom: 58px;
}

.about-intro-img {
  border-radius: 6px;
  -webkit-box-shadow: 1px 9px 18px 0 rgba(104, 128, 104, 1);
  -moz-box-shadow: 1px 9px 18px 0 rgba(104, 128, 104, 1);
  box-shadow: 1px 9px 18px 0 rgba(104, 128, 104, 1);
  margin: auto;
}

.orange-heading {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 17px 0;
  margin: 70px auto 15px;
  max-width: 620px;
}

.orange-heading:before {
  content: "";
  width: 100px;
  height: 6px;
  background-color: #fcbb53;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  left: 50%;
  margin-left: -50px;
}

.nondiscrimination {
  margin-top: 46px;
}

.about-text {
  font-size: 1.05em;
}

@media (max-width: 580px) {
  .mission-text {
    margin: 0 10px 30px 10px;
  }
  .about-text {
    margin: 0 10px;
  }
}

.location-heading {
  margin-top: 36px;
}

.location-map {
  margin: 28px auto 38px;
  text-align: center;
}
