.top_nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
  color: #f5f5f5;
  padding: 0;
}

.menu_btn {
  text-decoration: none;
  color: #427424;
  padding: 6px 20px 10px;
  line-height: 20px;
}

.menu_btn:hover {
  text-decoration: none;
  color: #89c538;
}

.nav_link {
  border-top: 4px solid #89c538;
}

.bdr-right {
  border-right: 1px solid #a7a4a4;
}

.bdr-left {
  border-left: 1px solid #a7a4a4;
}

.donate-btn {
  margin-right: auto;
}
