@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

* {
  font-family: "Roboto Condensed", sans-serif;
}

.top_nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
  color: #f5f5f5;
  padding: 0;
}

@media (max-width: 760px) {
  .donate-btn {
    margin-left: 4px;
    margin-top: 4px;
  }

  .menu_btn {
    color: #427424;
    font-size: 20px;
    padding-left: 8px;
  }

  .menu_btn:hover {
    color: #92c1af;
    text-decoration: none;
  }

  .nav_link {
    border-bottom: 3px solid #427424;
    line-height: 38px;
  }
}

@media (min-width: 760px) {
  .nav_link {
    height: 45px;
    padding-top: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-top: 4px solid #89c538;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    color: #427424;
    z-index: 5;
  }

  .nav_link:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #89c538;
    text-decoration: none;
  }

  .nav_link:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }

  .nav_link:hover {
    color: #fff;
    text-decoration: none;
  }

  .nav_link:hover:after {
    height: 100%;
  }

  .bdr-right {
    border-right: 1px solid #a7a4a4;
  }

  .bdr-left {
    border-left: 1px solid #a7a4a4;
  }

  .menu_btn {
    height: 100%;
    text-decoration: none;
    color: #427424;
    padding: 10px 20px 10px;
    line-height: 20px;
  }

  .menu_btn:hover {
    text-decoration: none;
    color: #fff;
  }

  .donate-btn {
    margin: auto;
  }
}

.header-main {
  background: #7ac143;
  min-height: 210px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0;
}

.head_nav-right {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.link-logo {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.head_nav-left {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.head-nav {
  text-transform: uppercase;
  font-size: 26px;
  text-decoration: none;
  color: #4b4b4b;
}

.head-nav:hover {
  text-decoration: none;
  color: #f45954;
}

.header-container {
  margin: 0 auto;
  text-align: center;
}

.small-word {
  font-size: 18px;
  display: block;
}

.link-logo {
  color: white;
  text-decoration: none;
}

.header-logo {
  max-width: 260px;
}
