* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

form {
  padding-top: 16px;
  border-radius: 15px;
}

.vol-form-heading {
  margin-top: 26px;
}

.form-label {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
[type="number"],
[type="email"],
[type="tel"] {
  width: 100%;
  padding: 2px 10px;
  border-radius: 4px;
}

textarea {
  width: 636px;
  height: 120px;
  padding: 6px 10px;
  border-radius: 6px;
}

textarea:focus {
  border-radius: 6px;
  background-color: rgba(51, 204, 102, 0.2);
  outline: 0;
  border: solid 2px #ef7385;
}

textarea:focus:valid {
  background-color: rgba(51, 204, 102, 0.2);
  outline: 0;
  border: solid 2px #66b266;
}
input[name="name"],
input[name="company"] {
  width: 636px;
}

input[name="name"]:focus,
input[name="company"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
  outline: 0;
  border: solid 2px #ef7385;
}

input[name="name"]:focus:valid,
input[name="company"]:focus:valid {
  background-color: rgba(51, 204, 102, 0.2);
  outline: 0;
  border: solid 2px #66b266;
}

input[name="address1"],
input[name="title"] {
  width: 636px;
}

input[name="address1"]:focus,
input[name="title"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
}

input[name="address2"] {
  width: 636px;
}

input[name="address2"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
}

input[name="phone"] {
  width: 268px;
}

input[name="phone"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
}

input[name="email"] {
  width: 268px;
}

input[name="email"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
  outline: 0;
  border: solid 2px #ef7385;
}

input[name="email"]:focus:valid {
  background-color: rgba(51, 204, 102, 0.2);
  outline: 0;
  border: solid 2px #66b266;
}

input[name="city"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
}

input[name="state"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
}

input[name="zip"]:focus {
  background-color: rgba(51, 204, 102, 0.2);
}
.city {
  padding-right: 5px;
}

.state {
  padding-right: 5px;
}

.phone {
  padding-right: 5px;
}

.send-btn {
  padding-bottom: 26px;
}

@media (max-width: 768px) {
  textarea {
    width: 80vw;
    height: 120px;
    padding: 6px 10px;
  }

  input[name="name"],
  input[name="company"],
  input[name="address1"],
  input[name="address2"],
  input[name="title"] {
    width: 80vw;
  }

  input[name="city"],
  input[name="state"],
  input[name="zip"] {
    width: 168px;
  }
}

.startCheck {
  display: inline-block;
  text-align: center;
  margin: auto;
}

fieldset {
  margin-top: 45px;
  border-radius: 6px;
  border: solid 2px #7ac143;
  width: 636px;
}

legend {
  width: 336px;
  text-shadow: 2px 2px 3px #7ac143;
  font-size: 1.2em;
  border-top: 2px solid #66b266;
  border-left: 2px solid #66b266;
  border-right: 2px solid #66b266;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
  padding: 3px;
}
.checkbox-desc {
  display: block;
  margin-bottom: 25px;
  font-size: 0.8rem;
}

iframe {
  height: 800px;
  width: 100%;
}

@media (max-width: 768px) {
  iframe {
    height: 1268px;
  }
  fieldset {
    width: 100%;
    border: none;
  }
}

#contact-email {
  width: 636px;
}

@media (max-width: 768px) {
  #contact-email {
    width: 80vw;
  }
}

.contact-form-heading {
  text-align: center;
  margin: 20px auto;
}

.contact-heading {
  text-align: center;
  margin: auto;
}

.form-column {
  text-align: center;
}

.label-text {
  text-align: left;
}

.picture-column {
  text-align: center;
  margin-bottom: 45px;
}

.keep-calm {
  max-height: 360px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 35px 20px #777;
}
