.heroImage {
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  filter: brightness(75%);
}

.heroWriting {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #89c853;
}

.heroHeading {
  font-size: 3em;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
}

.heroText {
  font-size: 1.5em;
  color: #000000;
}

.turnGreen {
  color: #89c853;
}

@media (max-width: 768px) {
  .heroHeading {
    font-size: 2.5em;
  }
}
